<!-- 文章元数据 -->
<div class="p-3 mb-3 bg-light rounded">
    <h4 class="font-italic">关于这篇文章</h4>
    <p class="mb-0"><strong>摘要：</strong>{{ post.summary }}</p><br>
    <p class="blog-post-meta font-italic">
        <small>本文发布于{{ post.date }}, 最后一次更新时间为{{ post.updated}}.
            作者{{ post.author }}将本文归类到<a href="#">{{ post.category }}</a>类目下。
        </small>
        关键词：
        {% for tag in post.tags %}
        <small>{{ tag }}</small>
        {% endfor %}
    </p>
</div>


<!-- 文章目录 -->
{% if post.table %}
{{ post.table|safe }}
{% endif %}