{% if logs %}

{% for log in logs %}
{% if log.body %}
<div class="card mb-3">
    <div class="card-header font-italic">
        <small>{{ log.date }} <a href="{{ log.author_link }}">{{ log.author }}</a></small>
    </div>
    <div class="card-body">
        <h5 class="card-title"><a href="{{ log.commit_link }}">{{ log.summary }}</a></h5>
        <p class="card-text">{{ log.body }}</p>
    </div>
    <!-- <div class="card-footer text-muted">
    Footer
</div> -->
</div>
{% endif %}
{% endfor %}

{% else %}
<p>暂时还没有发布任何动态</p>
{% endif %}