<!-- 
    职责：渲染文章正文以及附属组件
    组件：
      - 文章正文部分
      - 侧边栏部分
        - 文章摘要元数据卡片
        - 文章目录
 -->

{% extends "base.html" %}

{% block main %}
<div class="row">
    <div class="col-md-8">
        <div class="card mb-3">
            <h1 class="card-header">{{ data.title }}</h1>
            <div class="card-body">
                <article class="card-text">{{ data.body|safe }}</article>
            </div>
        </div>

        {% if data.older %}
        {% set older_href = url_for("user.read_post", post=data.older.data.id) %}
        {% set older_class = "btn btn-outline-primary" %}
        {% else %}
        {% set older_href = "#" %}
        {% set older_class = "btn btn-outline-secondary disabled" %}
        {% endif %}

        {% if data.newer %}
        {% set newer_href = url_for("user.read_post", post=data.newer.data.id) %}
        {% set newer_class = "btn btn-outline-primary" %}
        {% else %}
        {% set newer_href = "#" %}
        {% set newer_class = "btn btn-outline-secondary disabled" %}
        {% endif %}

        <nav class="blog-pagination" aria-label="Pagination">
            <a class="{{ older_class }}" href="{{ older_href }}">Older</a>
            <a class="{{ newer_class }}" href="{{ newer_href }}">Newer</a>
        </nav>


    </div>


    <div class="col-md-4">
        <!-- 组件一： 文章摘要元数据卡片 -->
        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title">关于这篇文章</h4>
                <p class="card-text"><strong>摘要：</strong>{{ data.summary }}</p>
                <p class="card-text">文章最早发布于 {{ data.date }}，最近更新日期为 {{ data.updated }}。
                    作者{{ data.author }}将本文归类到 {{ data.category }}.</p>
            </div>
        </div>

        <!-- 组件二：文章目录 -->
        <div class="card sticky-md-top mb-3">
            <div class="card-body">
                <h4 class="card-title">文章目录</h4>
                <div class="card-text">{{ data.toc|safe }}</div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}