{% extends "base.html" %}

{% block title %}
Manage comments
{% endblock title %}

{% block main %}
<div class="row">
    <div class="table-responsive-lg">
        <table class="table table-lg">
            <thead>
                <tr>
                    <th scope="col" class="col-1">ID</th>
                    <th scope="col" class="col-9">Content</th>
                    <th scope="col" class="col-2">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for comment in comments %}
                <tr class="">
                    <td scope="row">{{comment.id}}</td>
                    <td>{{comment.content|safe}}</td>
                    <td>
                        <form action="{{url_for('owner.delete_comment', comment_id=comment.id)}}" method="post">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item {% if page==1 %}disabled{% endif %}">
                <a class="page-link" href="{{ url_for('owner.manage_comment', page=page-1)}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <li class="page-item {%if page==total_page%}disabled{%endif%}">
                <a class="page-link" href="{{url_for('owner.manage_comment', page=page+1)}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

{% endblock main %}