{% extends "base.html" %}
{% import 'macro.html' as macro with context %}

{% block title %}
{{ post.title }}
{% endblock title %}

{% block main %}
<div class="row">
    <div class="col-md-9">
        <article>
            <h1>{{ post.title }}</h1>
            {{ post.body|safe }}
        </article>
    </div>
    <div class="col-md-3">
        <div class="card" id="post-metadata">
            <div class="card-header">
                About this post
            </div>
            <div class="card-body">
                <p class="card-text">This article was created by {{ owner.name }} on {{ post.created }} and was last
                    modified on {{ post.modified }}. The author classified it as
                    <a href="{{ url_for('visitor.archive_post', category=post.category.title)}}">
                        {{ post.category.title }}
                    </a>
                </p>
            </div>
        </div>

        {% if post.toc %}
        <div class="card" id="post-toc">
            <div class="card-header">
                Article directory
            </div>
            <div class="card-body">
                {{ post.toc|safe }}
            </div>
        </div>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="container" id="comment-form">
        <form action="{{ url_for('visitor.read_post', post_id=post.id, post_title=ttu(post.title))}}" method="post"
            onsubmit="return validateForm()">
            <div class="mb-3">
                <label for="comment-area" class="form-label">Comment Area</label>
                <textarea class="form-control" name="comment-area" id="comment-area" placeholder="Support markdown"
                    rows="3"></textarea>
            </div>
            <div class="mb-3 d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    <div class="container" id="comments">
        {% if comments %}
        <div class="list-group">
            {{ macro.render_comments(comments) }}
        </div>
        {% else %}
        <p>No comments.</p>
        {% endif %}
    </div>
</div>
{% endblock main %}

{% block script %}
<script>
    function validateForm() {
        var commentArea = document.getElementById("comment-area");

        if (commentArea.value.trim() === "") {
            alert("Please enter a comment.");
            return false;
        }

        return true;
    }
</script>
{% endblock script %}