html,
body {
  height: 100%;
  margin: 0;
}

#global-blog-title {
    font-size: 1.4em;
    text-decoration: none;
}

@media (max-width: 990px) {
    .row {
        flex-direction: column-reverse;
    }
}

main {
    min-height: calc(100vh - 116px);
}

article p {
    font-size: 1em;
}


footer {
    line-height: 50px;
    padding: 0 20px;
}