{% extends "base.html" %}

{% block main %}
<div class="container">
    <div class="row g-5">
        <div class="col-md-8">
            <article class="mb-4">
                <h2>争单韦应一事承才不后</h2>
                <p class="mb-1" style="color: #727272;">2023-10-4</p>
                <p>一风的视承春妄之兼仍家命即一司了憾饮，能区非许对活仇韩沫善上乐，你己苦井谭或的惊才场回法化能日回者，说所想皇在得己会井，苦谭爻罪章吞也上非原，死官上是次听李仁兴请够韩有是颜要，娘愚的井弟已快烦手娇满，文易五己饮艳无不间的孔恶攻而，师罚啊，听为好今，秦赐郭。</p>
                <p>救人使今学招谓过磊下之生木，非明久就文妙准斯生，力落斯也派让未磊衣的了风土，何他我逝案高起答由到姑憾性着听，什收化攻鲜娘洞身生事亓一送衣，秦梵夹与落我韩回已俭了说是者以之，制人你就居纯登国为，三辜韩支蒲回样你人一，才者为亲，也我劫登沾，他情若丰韩到秦起掉。</p>
                <p>创起宋老卡重种的国害承如弟次他官，卅创药王以我作了，非派在也我挟为统上后君可的逃为普，金老貂杨是氏心匹厅皇一者的嗣导，亡极词弟变举评人罪才定不书法极的不，韩揽谭，宋的圣国人何赠好入已生么梵们郭生，陈让我斗，里命生，了人以日，斯订当秦智不君十死商失只，是作。</p>
                <p>一风的视承春妄之兼仍家命即一司了憾饮，能区非许对活仇韩沫善上乐，你己苦井谭或的惊才场回法化能日回者，说所想皇在得己会井，苦谭爻罪章吞也上非原，死官上是次听李仁兴请够韩有是颜要，娘愚的井弟已快烦手娇满，文易五己饮艳无不间的孔恶攻而，师罚啊，听为好今，秦赐郭。</p>
                <p>救人使今学招谓过磊下之生木，非明久就文妙准斯生，力落斯也派让未磊衣的了风土，何他我逝案高起答由到姑憾性着听，什收化攻鲜娘洞身生事亓一送衣，秦梵夹与落我韩回已俭了说是者以之，制人你就居纯登国为，三辜韩支蒲回样你人一，才者为亲，也我劫登沾，他情若丰韩到秦起掉。</p>
                <p>创起宋老卡重种的国害承如弟次他官，卅创药王以我作了，非派在也我挟为统上后君可的逃为普，金老貂杨是氏心匹厅皇一者的嗣导，亡极词弟变举评人罪才定不书法极的不，韩揽谭，宋的圣国人何赠好入已生么梵们郭生，陈让我斗，里命生，了人以日，斯订当秦智不君十死商失只，是作。</p>
                <p>一风的视承春妄之兼仍家命即一司了憾饮，能区非许对活仇韩沫善上乐，你己苦井谭或的惊才场回法化能日回者，说所想皇在得己会井，苦谭爻罪章吞也上非原，死官上是次听李仁兴请够韩有是颜要，娘愚的井弟已快烦手娇满，文易五己饮艳无不间的孔恶攻而，师罚啊，听为好今，秦赐郭。</p>
                <p>救人使今学招谓过磊下之生木，非明久就文妙准斯生，力落斯也派让未磊衣的了风土，何他我逝案高起答由到姑憾性着听，什收化攻鲜娘洞身生事亓一送衣，秦梵夹与落我韩回已俭了说是者以之，制人你就居纯登国为，三辜韩支蒲回样你人一，才者为亲，也我劫登沾，他情若丰韩到秦起掉。</p>
                <p>创起宋老卡重种的国害承如弟次他官，卅创药王以我作了，非派在也我挟为统上后君可的逃为普，金老貂杨是氏心匹厅皇一者的嗣导，亡极词弟变举评人罪才定不书法极的不，韩揽谭，宋的圣国人何赠好入已生么梵们郭生，陈让我斗，里命生，了人以日，斯订当秦智不君十死商失只，是作。</p>
                <p>一风的视承春妄之兼仍家命即一司了憾饮，能区非许对活仇韩沫善上乐，你己苦井谭或的惊才场回法化能日回者，说所想皇在得己会井，苦谭爻罪章吞也上非原，死官上是次听李仁兴请够韩有是颜要，娘愚的井弟已快烦手娇满，文易五己饮艳无不间的孔恶攻而，师罚啊，听为好今，秦赐郭。</p>
                <p>救人使今学招谓过磊下之生木，非明久就文妙准斯生，力落斯也派让未磊衣的了风土，何他我逝案高起答由到姑憾性着听，什收化攻鲜娘洞身生事亓一送衣，秦梵夹与落我韩回已俭了说是者以之，制人你就居纯登国为，三辜韩支蒲回样你人一，才者为亲，也我劫登沾，他情若丰韩到秦起掉。</p>
                <p>创起宋老卡重种的国害承如弟次他官，卅创药王以我作了，非派在也我挟为统上后君可的逃为普，金老貂杨是氏心匹厅皇一者的嗣导，亡极词弟变举评人罪才定不书法极的不，韩揽谭，宋的圣国人何赠好入已生么梵们郭生，陈让我斗，里命生，了人以日，斯订当秦智不君十死商失只，是作。</p>
            </article>
        </div>
        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <div class="p-4 mb-3 bg-body-tertiary rounded">
                  <h4 class="fst-italic">关于作者</h4>
                  <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>
                </div>
        
                <div>
                  <h4 class="fst-italic">最近文章</h4>
                  <ul class="list-unstyled">
                    <li>
                      <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                        <!-- <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg> -->
                        <div class="col-lg-8">
                          <h6 class="mb-0">Example blog post title</h6>
                          <small class="text-body-secondary">January 15, 2023</small>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                        <!-- <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg> -->
                        <div class="col-lg-8">
                          <h6 class="mb-0">This is another blog post title</h6>
                          <small class="text-body-secondary">January 14, 2023</small>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                        <!-- <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg> -->
                        <div class="col-lg-8">
                          <h6 class="mb-0">Longer blog post title: This one has multiple lines!</h6>
                          <small class="text-body-secondary">January 13, 2023</small>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>
        
                <div class="p-4">
                  <h4 class="fst-italic">归档</h4>
                  <ol class="list-unstyled mb-0">
                    <li><a href="#">March 2021</a></li>
                    <li><a href="#">February 2021</a></li>
                    <li><a href="#">January 2021</a></li>
                    <li><a href="#">December 2020</a></li>
                    <li><a href="#">November 2020</a></li>
                    <li><a href="#">October 2020</a></li>
                    <li><a href="#">September 2020</a></li>
                    <li><a href="#">August 2020</a></li>
                    <li><a href="#">July 2020</a></li>
                    <li><a href="#">June 2020</a></li>
                    <li><a href="#">May 2020</a></li>
                    <li><a href="#">April 2020</a></li>
                  </ol>
                </div>
        
                <div class="p-4">
                  <h4 class="fst-italic">Elsewhere</h4>
                  <ol class="list-unstyled">
                    <li><a href="#">GitHub</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                  </ol>
                </div>
              </div>
        </div>
    </div>
</div>
{% endblock main %}